[Desktop Entry]
Name=Whatsapp
Exec=firefox-bin --new-window https://web.whatsapp.com
Icon=whatsapp
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
