! ██╗  ██╗██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝██╔════╝
!  ╚███╔╝ ██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║   ███████╗
!  ██╔██╗ ██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║   ╚════██║
! ██╔╝ ██╗██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║   ███████║
! ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝   ╚══════╝
! Xdefaults

! Had issues causing deadlocks when scrolling in Emacs.
! Might be resolved by now.
Emacs*useXIM: false

! Using Xft
URxvt.font:           xft:Sauce Code Pro:style=Nerd Font Complete:size=10
!-*- Perl extensions -*-
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.underlineURLs: True
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V: perl:pasta:paste
urxvt.keysym.M-c:   perl:clipboard:copy
urxvt.keysym.C-v:   perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
urxvt.clipboard.copycmd:  xsel -ib
urxvt.clipboard.pastecmd: xsel -ob

URxvt.buffered: true
URxvt.fading: 15

URxvt.scrollBar: false
! do not scroll with output
URxvt.scrollTtyOutput: false
! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt*depth: 32

URxvt*transparent: true
URxvt.tintColor: #3f3f3f
URxvt.shading: 114

URxvt*xftAntialias: true

*background: #3f3f3f
*foreground: #dcdccc
*cursorColor: #aaaaaa
*colorUL: #acd0d3
*color0: #3f3f3f
*color1: #cc9393
*color2: #7f9f7f
*color3: #d0bf8f
*color4: #6ca0a3
*color5: #dc8cc3
*color6: #93e0e3
*color7: #dcdccc
*color8: #000000
*color9: #dca3a3
*color10: #bfebbf
*color11: #f0dfaf
*color12: #8cd0d3
*color13: #dc8cc3
*color14: #93e0e3
*color15: #ffffff

! rofi
rofi.opacity:  100
rofi.width:    100
rofi.lines:    30
rofi.font:     Sauce Code Pro 10
rofi.location: 0
rofi.padding:  270
rofi.hide-scrollbar: true
rofi.line-margin: 0

rofi.color-enabled: true
rofi.color-window: argb:663f3f3f,#000000

! State:           bg,           fg,     bgalt         hlbg,         hlfg
! zenburn:         bg,           fg,     bg-05,        bg+1,         fg+1
rofi.color-normal: argb:CC3F3F3F,#DCDCCC,argb:CC383838,argb:CC4F4F4F,#FFFFEF
!                  blue-4,       fg,     blue-5,       blue-3,       fg+1
rofi.color-active: argb:CC4C7073,#DCDCCC,argb:CC366060,argb:CC5C888B,#FFFFEF
!                  red-4,        fg,     red-5,        red-3,        fg+1
rofi.color-urgent: argb:CCC5353,#DCDCCC,argb:CC7C4343,argb:CC9C6363,#FFFFEF
