<settings>
    <setting id="alldebrid.pass" value="" />
    <setting id="alldebrid.user" value="" />
    <setting id="api.language" value="AUTO" />
    <setting id="appearance.1" value="Exodus" />
    <setting id="appearance.alt" value="-" />
    <setting id="autoplay" value="false" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="calendar.widget" value="0" />
    <setting id="downloads" value="true" />
    <setting id="fanart" value="true" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="hosts.captcha" value="false" />
    <setting id="hosts.mode" value="1" />
    <setting id="hosts.quality" value="0" />
    <setting id="hosts.sort.provider" value="false" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="0" />
    <setting id="lists.widget" value="1" />
    <setting id="menu.classic" value="true" />
    <setting id="movie.download.path" value="/media/data/video/movies/" />
    <setting id="movie.widget" value="1" />
    <setting id="moviesplanet.pass" value="" />
    <setting id="moviesplanet.user" value="" />
    <setting id="ororo.pass" value="" />
    <setting id="ororo.user" value="" />
    <setting id="player.info" value="false" />
    <setting id="premiumize.pin" value="" />
    <setting id="premiumize.user" value="" />
    <setting id="progress.dialog" value="0" />
    <setting id="provider.afdah" value="true" />
    <setting id="provider.animeultima" value="true" />
    <setting id="provider.ddlvalley" value="true" />
    <setting id="provider.directdl" value="true" />
    <setting id="provider.dizibox" value="true" />
    <setting id="provider.dizigold" value="true" />
    <setting id="provider.dizilab" value="true" />
    <setting id="provider.einthusan" value="true" />
    <setting id="provider.hevcmovies" value="true" />
    <setting id="provider.library" value="true" />
    <setting id="provider.miradetodo" value="true" />
    <setting id="provider.movie25" value="true" />
    <setting id="provider.moviesplanet" value="true" />
    <setting id="provider.moviestorm" value="true" />
    <setting id="provider.ninemovies" value="true" />
    <setting id="provider.onemovies" value="true" />
    <setting id="provider.onlinedizi" value="true" />
    <setting id="provider.ororo" value="true" />
    <setting id="provider.pelispedia" value="true" />
    <setting id="provider.primewire" value="true" />
    <setting id="provider.pubfilm" value="true" />
    <setting id="provider.putlocker" value="true" />
    <setting id="provider.rlsbb" value="true" />
    <setting id="provider.sezonlukdizi" value="true" />
    <setting id="provider.streamlord" value="true" />
    <setting id="provider.torba" value="true" />
    <setting id="provider.tunemovie" value="true" />
    <setting id="provider.twoddl" value="true" />
    <setting id="provider.usmovies" value="true" />
    <setting id="provider.usseries" value="true" />
    <setting id="provider.watch1080" value="true" />
    <setting id="provider.watchfree" value="true" />
    <setting id="provider.watchseries" value="true" />
    <setting id="provider.xmovies" value="true" />
    <setting id="realdebrid.auth" value="" />
    <setting id="realdebrid.id" value="" />
    <setting id="realdebrid.refresh" value="" />
    <setting id="realdebrid.secret" value="" />
    <setting id="realdebrid.token" value="" />
    <setting id="rpnet.api" value="" />
    <setting id="rpnet.user" value="" />
    <setting id="scrapers.timeout.1" value="25" />
    <setting id="streamlord.pass" value="" />
    <setting id="streamlord.user" value="" />
    <setting id="subtitles" value="false" />
    <setting id="subtitles.lang.1" value="English" />
    <setting id="subtitles.lang.2" value="English" />
    <setting id="subtitles.utf" value="false" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="/media/data/video/tvshows/" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
</settings>
